@{
    ViewData["Title"] = "Booking Page";
}

<head>
    <meta charset="UTF-8">
    <title>Makine Rezervasyon Sistemi</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">

        <header>
            <h1>Makine Rezervasyon Sistemi</h1>
        </header>


    </div>

</body>
</html>


