@model LaundryReservationSystem.Models.Booking

<h1>CreateBooking</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserPhone" class="control-label"></label>
                <input asp-for="UserPhone" class="form-control" />
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MachineType" class="control-label">Booking Time:</label>
                @Html.DropDownList("TimeOptions", (SelectList)ViewBag.TimeOptions, "Select Start Time", new { @class = "form-control" })
                <span asp-validation-for="BookingTimeStart" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="MachineType" class="control-label">Machine Type:</label>
                @Html.DropDownList("MachineType", (SelectList)ViewBag.MachineType, "Select Machine Type", new { @class = "form-control" })
                <span asp-validation-for="MachineType" class="text-danger"></span>
            </div>


         

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
